body {
  font-family: "Myriad Pro Regular", "PT Sans Narrow", sans-serif;
	font-size: 30px;
	font-style: bold;
	line-height: 42px;
	color: black; 
}

h1 {
	font-size: 30px;
	line-height: 42px;
	
}
h2 {
	font-size: 14px;
	line-height: 24px;
	
